
<br>



<div class="row">

	<h3 class="centered nine columns quote-box">
		<i class="icon-quote"></i>
		<span class="faux-stitch">
			Beautiful cards for any occasion! Shawna truly pours her <i class="icon-heart"></i> and soul into every card she makes. Stunning graphics that can be personalized to fit any birthday, anniversary, holiday etc...
		</span>
		
	</h3>
</div>

<br><br>


<ul class="three_up tiles">
	{{#each photos}}

		<!--
			<p>photos {{@index}}</p>
		-->

		{{!-- <li class="photo parallax" gumby-parallax="0.8" style="background-image: url('{{source}}')"></li> --}}

		<li class="photo inview" gumby-inview-load-bg="url('{{source}}')">
			
		</li>

	{{else}}
		<p>else</p>
	{{/each}}
</ul>

<br><br>




